<!--<script type="application/javascript">
    $('.nav .nav-tabs li a').click(function(){
        alert("well done");
    });

</script>-->
<div data-ng-controller="ClientController">

    <div class="row">
        <div style="margin-left: 2em">
            {{clientDetails.corporate_name}}
        </div>
    </div>
    <div class="row">
        <div style="margin-left: 2em">
            {{clientDetails.address_1}}, {{clientDetails.zip_code}} {{clientDetails.city}}
        </div>
    </div>

    <div class="row" style="background-color: transparent">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li data-ng-repeat="userMenu in userMenus" data-ui-sref-active="active">
                    <a onclick="myfunction()" ng-click="showClientSection(userMenu)">{{userMenu.title}}</a>
                </li>
            </ul>
        </div>

    </div>

    <p ng-include="clientBodyURL"></p>


</div>