<div data-ng-controller="mesdevisController">

    <div class="table-responsive table-border margin-top-1">

        <table class="table table-hover">
            <thead style="background-color: #080808; color: #f8f8f8;">
            <tr>
                <th>N Devis</th>
                <th>Statut</th>
                <th>Etat</th>
                <th>Proprietaire</th>
                <th>Type devis</th>
                <th>Agence</th>
                <th>Montant</th>
                <th>Modification</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mesDevis in mesDevisList">
                <td>{{index+1}}</td>
                <td>{{mesDevis.Status}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a title="Delete" class="glyphicon glyphicon-remove-circle"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>