
.border-bottom-row {
    border-bottom: 1px solid #e7e7e7;
}
.margin-top-left-1 {
    margin-top: 1em;
    margin-left: 1em;
}

.headerBackground {
    background-color: #000000;
    color: #ffffff;
}