<div data-ng-controller="adminController">

    <div class="row" style="margin-left: 1em; margin-top: 1em;margin-bottom: 1em">
        ADMIN
        <!--<a data-ui-sref="addUser" ng-click="addUser(employee)" style="margin-left: 1em"><img width="30%" src="/img/addrole_b_30.png" class="img-responsive" ></a>-->
        <button data-ui-sref="addUser" type="button" class="btn btn-default glyphicon glyphicon-plus-sign" style="margin-left: 1em" data-ng-click="addUser()"> Ajouter user</button>
        <button type="button" class="btn btn-default glyphicon glyphicon-plus-sign" style="margin-left: 1em" data-ng-click="addRole()"> Ajouter function</button>
    </div>

    <modal-dialog show='modalShown' width='90%' height='60%'>
        <div class="row" style=" margin-left: 0em; margin-right: 0em">
            <div class="col-lg-1">
                <b style="color: #ffffff; font-size: large; font-family: segoeuib">Role</b>
            </div>
            <div class="col-lg-2 col-lg-offset-1">
                <b style="color: #ffffff; font-size: large; font-family: segoeuib">Role users</b>
            </div>
        </div>

        <div style="margin-top: 2em; margin-left: 1em">
            <div class="row" style="margin-left: 0em">
                <div class="col-lg-5">
                    <div class="row">
                        <label style="color: #ffffff; font-family: segoeuib">Nom *</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-7" style="margin-left: -1em">
                            <input class="form-control" type="text" placeholder="Nom" ng-model="role.name">
                        </div>
                    </div>

                    <div class="row">
                        <label style="color: #ffffff; font-family: segoeuib"> Description</label>
                    </div>
                    <div class="row">
                        <input class="form-control" type="text" placeholder="Description" ng-model="role.description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-5">
                    <button class=" btn btn-default" ng-click="cancelRole()">annuler</button>
                    <button style="background-color: #EC2653; color: #ffffff" ng-click="registerRole(role)" data-ui-sref="admin" class="btn btn-default">enregister</button>
                </div>
            </div>
        </div>
    </modal-dialog>

    <div class="row" style="background-color: transparent; margin-left: 0em; margin-right: 0em">
        <div class="span12" style="margin-left: 1em">
            <ul class="nav nav-tabs" >
                <li data-ng-repeat="adminMenu in adminMenus" >
                    <a onclick="myfunction()" ng-click="showAdminSection(adminMenu)">{{adminMenu.title}}</a>
                </li>
            </ul>
        </div>
    </div>

    <p ng-include="clientBodyURL"></p>


</div>