<div data-ng-controller="ClientInfoPController">

    <div class="row margin-top-left-1">

        <div class="col-md-5">

            <div class="row border-bottom-row">
                <div class="col-md-6">
                    Type client
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code Client
                </div>
                <div class="col-md-6">
                    {{clientDetails.AN8}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    SIRET
                </div>
                <div class="col-md-6">
                    {{clientDetails.SIRET}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code APE
                </div>
                <div class="col-md-6">
                    {{clientDetails.APE_code}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Raison sociale
                </div>
                <div class="col-md-6">
                    sample client s.r.l
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Nom de recherche
                </div>
                <div class="col-md-6">
                    sample client nom connu
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Famille Marketing
                </div>
                <div class="col-md-6">
                    TEST
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Hierarchie client
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Commercial
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Client livre et facture
                </div>
                <div class="col-md-6">

                </div>
            </div>

        </div>

        <div class="col-md-5 col-lg-offset-1">
            <div class="row border-bottom-row">
                <div class="col-md-6">
                    Compl. de raison sociale
                </div>
                <div class="col-md-6">
                    {{clientDetails.corporate_name_add}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 1
                </div>
                <div class="col-md-6">
                    {{clientDetails.address_1}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 2
                </div>
                <div class="col-md-6">
                    {{clientDetails.address_2}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 3
                </div>
                <div class="col-md-6">
                    {{clientDetails.address_3}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code postal
                </div>
                <div class="col-md-6">
                    {{clientDetails.zip_code}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Ville
                </div>
                <div class="col-md-6">
                    {{clientDetails.city}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Pays
                </div>
                <div class="col-md-6">
                    {{clientDetails.country}}
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Agence Install
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Agence Service
                </div>
                <div class="col-md-6">

                </div>
            </div>

        </div>
    </div>

</div>