<div data-ng-controller="ClientInfoPController">
    <div>
        <div class="row margin-top-left-1">

                <div class="col-md-2 border-bottom-row">
                   Code Client
                </div>
                <div class="col-md-2 border-bottom-row">
                    {{clientDetails.IDClient}}
                </div>

                <div class="col-md-2 col-lg-offset-1 border-bottom-row">
                    Adresse 1
                </div>
                <div class="col-md-2 border-bottom-row">
                    {{clientDetails.Adresse}}
                </div>

        </div>
        <div class="row margin-top-left-1">

                <div class="col-md-2 border-bottom-row">
                    SIRET
                </div>
                <div class="col-md-2 border-bottom-row">
                    {{clientDetails.SIRFT}}
                </div>

                <div class="col-md-2 col-lg-offset-1 border-bottom-row">
                    Adresse 2
                </div>
                <div class="col-md-2 border-bottom-row">
                    extra adresse
                </div>

        </div>
        <div class="row margin-top-left-1">

                <div class="col-md-2 border-bottom-row">
                    Code APE
                </div>
                <div class="col-md-2 border-bottom-row">
                    AX123
                </div>

                <div class="col-md-2 col-lg-offset-1 border-bottom-row">
                    Adresse 3
                </div>
                <div class="col-md-2 border-bottom-row">
                    empty
                </div>

        </div>
    </div>
</div>