<!-- Angular JS -->
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/lodash/dist/lodash.min.js"></script>
<script type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<!-- Application Depedencies -->
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/highcharts/highcharts.js"></script>
<script src="lib/highcharts/highcharts-more.js"></script>
<script src="lib/highcharts/modules/exporting.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/routes.js"></script>

<!-- Home Module -->
<script type="text/javascript" src="modules/home/headerController.js"></script>

<!-- RechercheClient Module -->

<script type="application/javascript" src="modules/rechercheClient/rechercheClientController.js"></script>
<script type="application/javascript" src="modules/rechercheClient/rechercheClientService.js"></script>
<script type="application/javascript" src="js/modalDialogDirective.js"></script>

<!--RechercheClient Module-->

<!--Client Module-->
<script type="application/javascript" src="modules/client/clientController.js"></script>
<script type="application/javascript" src="modules/client/infosPrincipales/infosPrincipalesController.js"></script>
<script type="application/javascript" src="modules/client/sites/sitesController.js"></script>
<script type="application/javascript" src="modules/client/facturation/facturationController.js"></script>
<script type="application/javascript" src="modules/client/contacts/contactsController.js"></script>
<script type="application/javascript" src="modules/client/adresseCompl/adresseComplController.js"></script>
<script type="application/javascript" src="modules/client/devis/devisController.js"></script>
<script type="application/javascript" src="modules/client/panier/panierController.js"></script>
<script type="application/javascript" src="modules/client/catalogue/catalogueController.js"></script>
<script type="application/javascript" src="modules/client/recyCatalogue/recyCatalogueController.js"></script>
<script type="application/javascript" src="modules/client/updateCatalogue/updateCatalogueController.js"></script>
<!--Client Module-->

<!-- SignUp Module -->
<script type="text/javascript" src="views/user_roles_constant.js"></script>
<script type="text/javascript" src="views/auth_events_constant.js"></script>
<script type="text/javascript" src="views/AuthenticationService.js"></script>
<script type="text/javascript" src="views/signUpController.js"></script>
<script type="text/javascript" src="views/signInController.js"></script>
<!-- SignUp Module -->

<!-- Initialize the application -->
<script type="text/javascript" src="js/init.js"></script>

{% if (process.env.NODE_ENV == 'local') %}
<!-- Livereload script rendered -->
<script type="text/javascript" src="http://localhost:35730/livereload.js"></script>
{% endif %}
