<div data-ng-controller="clientAdresseComplController">
    <div class="row margin-top-left-1">

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-10">
                    <b>ADRESSE D ENVOI DE FACTURE</b>
                </div>
            </div>

            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Raison sociale
                </div>
                <div class="col-md-6">
                    Adresse
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 1
                </div>
                <div class="col-md-6">
                    Adresse 1
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 2
                </div>
                <div class="col-md-6">
                    Adresse 2
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 3
                </div>
                <div class="col-md-6">
                    Adresse 3
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 4
                </div>
                <div class="col-md-6">
                    Adresse 4
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code postal
                </div>
                <div class="col-md-6">
                    Code postal
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Ville
                </div>
                <div class="col-md-6">
                    Ville
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Pays
                </div>
                <div class="col-md-6">
                    France
                </div>
            </div>

        </div>

        <div class="col-md-5 col-lg-offset-1">

            <div class="row">
                <div class="col-md-10">
                    <b>ADRESSE DEVIS/CONTRAT</b>
                </div>
            </div>

            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Raison sociale
                </div>
                <div class="col-md-6">
                    Adresse
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 1
                </div>
                <div class="col-md-6">
                    Adresse 1
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 2
                </div>
                <div class="col-md-6">
                    Adresse 2
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 3
                </div>
                <div class="col-md-6">
                    Adresse 3
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 4
                </div>
                <div class="col-md-6">
                    Adresse 4
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code postal
                </div>
                <div class="col-md-6">
                    Code postal
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Ville
                </div>
                <div class="col-md-6">
                    Ville
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Pays
                </div>
                <div class="col-md-6">
                    France
                </div>
            </div>
        </div>

        <div class="col-md-5" style="margin-top: 1em" >
            <div class="row">
                <div class="col-md-10">
                    <b>ADRESSE DU PAYEUR</b>
                </div>
            </div>

            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Raison sociale
                </div>
                <div class="col-md-6">
                    Adresse
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 1
                </div>
                <div class="col-md-6">
                    Adresse 1
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 2
                </div>
                <div class="col-md-6">
                    Adresse 2
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 3
                </div>
                <div class="col-md-6">
                    Adresse 3
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Adresse 4
                </div>
                <div class="col-md-6">
                    Adresse 4
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Code postal
                </div>
                <div class="col-md-6">
                    Code postal
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Ville
                </div>
                <div class="col-md-6">
                    Ville
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Pays
                </div>
                <div class="col-md-6">
                    France
                </div>
            </div>
        </div>

    </div>
</div>