<div data-ng-controller="clientFacturationController">
    <div class="row margin-top-left-1">

        <div class="col-md-5">
            <div class="row border-bottom-row">
                <div class="col-md-6">
                    Conditions de paiement
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Mode de reglement
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    N de contrat tarifaire
                </div>
                <div class="col-md-6">
                    N de contrat tarifaire
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Bon de commande obligatoire
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Nombre exemplaire facture
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Type de facture
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Frequence facturation
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Famille TVA Client
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Retenue de garantie
                </div>
                <div class="col-md-6">
                    Retenue de garantie
                </div>
            </div>
            <div class="row margin-top-1">
                <div class="col-md-6">
                    Commentaires internes :
                </div>
                <div class="col-md-6">
                    <textarea class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-offset-1">
            <div class="row border-bottom-row">
                <div class="col-md-6">
                    Hierarchie Client
                </div>
                <div class="col-md-6">
                    Hierarchie Client
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Facturation
                </div>
                <div class="col-md-6">
                    none
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Routage facture (clients/ADV)
                </div>
                <div class="col-md-6">
                    Routage facture (clients/ADV)
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Routage du bon de visite
                </div>
                <div class="col-md-6">
                    Routage du bon de visite
                </div>
            </div>
            <div class="row border-bottom-row margin-top-1">
                <div class="col-md-6">
                    Montant couverture client (EUR)
                </div>
                <div class="col-md-6">
                    Montant couverture client (EUR)
                </div>
            </div>
        </div>
    </div>
</div>