<div>
    <form role="form" id="clientSiteComplementsFormId" name="clientSiteComplementsForm">
        <div class="row margin-top-left-1">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="familleTVA">Famille TVA *</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="routageDuBonDeVisite">Routage du bon de visite</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="horaire">Horaire</label>
                    <input type="text" class="form-control"  placeholder="horaire" >
                </div>

            </div>
            <div class="col-md-4 col-lg-offset-1">
                <div class="form-group">
                    <label for="consignesSite">Consignes site</label>
                    <input type="text" class="form-control" placeholder="Consignes site" >
                </div>
                <div class="form-group">
                    <label for="consignesEquipement">Consignes equipement</label>
                    <input type="text" class="form-control" placeholder="Consignes equipement" >
                </div>
                <div class="form-group">
                    <label for="consignesDePose">Consignes de pose </label>
                    <input type="text" class="form-control"  placeholder="Consignes de pose" >
                </div>

            </div>
        </div>
    </form>
</div>