<div>
    <form role="form" id="clientSiteAddFormId" name="clientSiteAddForm">
        <div class="row margin-top-left-1" style="background-color: #D3D3D3">
            <b>Infos principales du site</b>
        </div>
        <div class="row margin-top-left-1">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="sIRET">SIRET *</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="codeAPE">Code APE *</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="nomDuSite">Nom du site *</label>
                    <input type="text" class="form-control"  placeholder="" >
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="commercial">Commercial</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="nomDeRecherche">Nom de recherche</label>
                    <input type="text" class="form-control" placeholder="Nom de recherche" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="typeEstablissement">Type etablissement *</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="detail">Detail *</label>
                    <input type="text" class="form-control"  placeholder="" >
                </div>

            </div>
        </div>
        <div class="row margin-top-left-1" style="background-color: #D3D3D3">
            <b>Adresse</b>
        </div>
        <div class="row margin-top-left-1">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="complRaisonSociale">Compl. raison sociale</label>
                    <input type="text" class="form-control" placeholder="Compl. raison sociale" >
                </div>
                <div class="form-group">
                    <label for="ville">Ville *</label>
                    <input type="text" class="form-control" placeholder="ville" >
                </div>
                <div class="form-group">
                    <label for="pays">Pays </label>
                    <input type="text" class="form-control"  placeholder="Pays" >
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="adresse1">Adresse 1 *</label>
                    <input type="text" class="form-control" placeholder="Adresse 1" >
                </div>
                <div class="form-group">
                    <label for="adresse2">Adresse 2 *</label>
                    <input type="text" class="form-control"  placeholder="Adresse 2" >
                </div>
                <div class="form-group">
                    <label for="adresse3">Adresse 3</label>
                    <input type="text" class="form-control" placeholder="Adresse 3" >
                </div>

            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <label for="codePostal">Code postal *</label>
                    <input type="text" class="form-control" placeholder="Code Postal" >
                </div>

                <div class="form-group">
                    <label for="coordonneesGPS">Coordonnees GPS </label>
                    <input type="text" class="form-control"  placeholder="Longitude Latitude" >
                </div>
            </div>

        </div>

        <div class="row margin-top-left-1" style="background-color: #D3D3D3">
            <b>Complements</b>
        </div>
        <div class="row margin-top-left-1">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="familleTVA">Famille TVA *</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>
                <div class="form-group">
                    <label for="routageDuBonDeVisite">Routage du bon de visite</label>
                    <input type="text" class="form-control" placeholder="" >
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="consignesSite">Consignes site</label>
                    <input type="text" class="form-control" placeholder="Consignes site" >
                </div>
                <div class="form-group">
                    <label for="consignesEquipement">Consignes equipement</label>
                    <input type="text" class="form-control" placeholder="Consignes equipement" >
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="consignesDePose">Consignes de pose </label>
                    <input type="text" class="form-control"  placeholder="Consignes de pose" >
                </div>
                <div class="form-group">
                    <label for="horaire">Horaire</label>
                    <input type="text" class="form-control"  placeholder="horaire" >
                </div>
            </div>
        </div>
    </form>
</div>