<div>
    <form role="form" id="clientSiteAdresseFormId" name="clientSiteAdresseForm">
        <div class="row margin-top-left-1">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="complRaisonSociale">Compl. raison sociale</label>
                    <input type="text" class="form-control" placeholder="Compl. raison sociale" disabled>
                </div>
                <div class="form-group">
                    <label for="adresse1">Adresse 1 *</label>
                    <input type="text" class="form-control" placeholder="Adresse 1" disabled>
                </div>
                <div class="form-group">
                    <label for="adresse2">Adresse 2 *</label>
                    <input type="text" class="form-control"  placeholder="Adresse 2" disabled>
                </div>
                <div class="form-group">
                    <label for="adresse3">Adresse 3</label>
                    <input type="text" class="form-control" placeholder="Adresse 3" disabled>
                </div>

            </div>
            <div class="col-md-4 col-lg-offset-1">
                <div class="form-group">
                    <label for="codePostal">Code postal *</label>
                    <input type="text" class="form-control" placeholder="Code Postal" disabled>
                </div>
                <div class="form-group">
                    <label for="ville">Ville *</label>
                    <input type="text" class="form-control" placeholder="ville" disabled>
                </div>
                <div class="form-group">
                    <label for="pays">Pays </label>
                    <input type="text" class="form-control"  placeholder="Pays" disabled>
                </div>
                <div class="form-group">
                    <label for="coordonneesGPS">Coordonnees GPS </label>
                    <input type="text" class="form-control"  placeholder="Longitude Latitude" disabled>
                </div>

            </div>
        </div>
    </form>
</div>