<div data-ng-controller="clientSitesController">

    <div ng-show="siteDataDiv">
        <div class="btn-group" style="margin-top: 1em; margin-bottom: 1em; margin-left: 1em" ng-show="addSiteButton">
            <button type="button" class="btn btn-default glyphicon glyphicon-plus-sign" ng-click="addSite()"> Ajouter Site</button>
        </div>

        <div class="btn-group" style="margin-top: 1em; margin-bottom: 1em; margin-left: 1em" ng-show="sitesListButton">
            <button type="button" class="btn btn-default glyphicon glyphicon-list" ng-click="showSitesList()"> Spectacle Sites</button>
        </div>

        <div class="row table-border" ng-show="clientSitesList">

            <div data-ng-repeat="clientSite in clientSites">
                <div class="row" style="background-color: #DBDBFF;  margin-right: 0px; margin-left: 0px">
                    <div class="col-md-10" style="margin-left: 1em;" data-ng-click="viewClientSite()">
                        <div class="row">
                            {{clientSite.MLNM}}
                        </div>
                        <div class="row">
                            {{clientSite.ADD1}}
                        </div>
                        <div class="row">
                            {{clientSite.ADDZ}} {{clientSite.CTY1}}
                        </div>
                    </div>

                    <div class="col-md-1" style="text-align: right; margin-left: 6em">

                        <div class="row" ng-click="addSubSite1(clientSite.id)">
                            <a class="glyphicon glyphicon-plus"></a>
                        </div>

                        <div class="row">
                            <a ng-click="addQuote(clientSite)" class="glyphicon glyphicon-plus-sign"></a>
                        </div>

                    </div>
                </div>

                <div class="row" ng-show="addSubSite">
                    <form role="form" id="clientSubSiteFormId" name="clientSubSiteForm">
                        <div class="col-md-1">
                            Nom du sous-site
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control"  placeholder="Nom du sous-site" ng-model="subSiteParameters.MLNM">

                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default" ng-click="cancelSubSiteSection()">annuler</button>

                        </div>
                        <div class="col-md-1">

                            <button ng-click="saveClientSubSite(subSiteParameters)" class="btn btn-default">enregister</button>
                        </div>
                    </form>
                </div>

                <!--<div class="row margin-top-left-1">
                    Batiment A
                </div>-->
            </div>
        </div>
        <div ng-show="viewClientSites">
           <!-- <div class="row" style="background-color: transparent">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li data-ng-repeat="clientSiteInfo in clientSiteInfos" data-ui-sref-active="active">
                            <a id="clientSiteSection" ng-click="showClientSiteSection(clientSiteInfo)">{{clientSiteInfo.title}}</a>
                        </li>
                    </ul>
                </div>

            </div>-->

            <p ng-include="clientSiteBodyURL"></p>
        </div>

        <div ng-show="addSite1">
            <!--<div class="row" style="background-color: transparent">
                <div class="span12">
                    <ul class="nav nav-tabs">
                        <li data-ng-repeat="clientSiteInfo in clientSiteInfos" data-ui-sref-active="active">
                            <a id="clientSiteSection" ng-click="showClientSiteSection(clientSiteInfo)">{{clientSiteInfo.title}}</a>
                        </li>
                    </ul>
                </div>

            </div>-->

            <p ng-include="clientSiteBodyURL"></p>

            <div class="row margin-top-left-1" ng-show="addSiteSaveButton">
                <button class="btn btn-default" ng-click="cancelSaveSiteSection()">annuler</button>
                <button type="submit" class="btn btn-default">enregister</button>
            </div>

        </div>

    </div>

    <div>
        <p ng-include="clientSiteQuoteBodyURL"></p>
    </div>

</div>